{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
<script>
    $('#fuMain').fileinput({
        dropZoneEnabled: false,
        maxFileCount: 5,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        // language: 'vi',
    });

    var date = new Date();
    var today = date.getDate() + '/' + (date.getMonth()+1) + '/' +  date.getFullYear();
    $('#txtDate').val(today);

    $('#formAddSpace').on('submit', function (e) {
        e.preventDefault();

        var errorNoti = "";
        var typeAds = $("#typeAds").find("option:selected").text();
        var typeLoc = $("#typeLoc").find("option:selected").text();
        var isPlanned = $("#isPlanned").find("option:selected").text();
        if ($('#reasonArea').val().length === 0) {
            errorNoti = "Lí do chỉnh sửa không được trống";
        } else if(typeAds === "Hình thức quảng cáo"){
            errorNoti = "Bạn chưa chọn hình thức quảng cáo";
        } else if(typeLoc === "Phân loại điểm đặt"){
            errorNoti = "Bạn chưa chọn loại điểm đặt";
        } else if(isPlanned === "Tình hình quy hoạch"){
            errorNoti = "Bạn chưa chọn tình hình quy hoạch";
        }

        if(errorNoti.length !== 0){
            var errComp = $(`<div class="alert alert-danger text-center center error-noti" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>${errorNoti}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>`);
            $('#errorContainer').append(errComp);
            return;
        }
          
        $('#formAddSpace').off('submit').submit();
    })

</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/layout.css">

{{/section}}

<div class="position-relative mt-5">
    <form method="post" id="formAddSpace" class="center form-width p-2 custom-form-addSpace box-shadow">
        <div id="errorContainer">
            {{#if this.msg}}
                {{#if this.is_err}}
                <div class="alert alert-danger text-center center error-noti" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>{{this.msg}}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>
                {{else}}
                <div class="alert alert-success text-center center create-confirm" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-cursor-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>{{this.msg}}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>

                {{/if}}
            {{/if}}
        </div>

        <div class="row">
            <i class="bi bi-x d-flex justify-content-end purple-color" id="setPointClose" style="font-size: 34px; cursor:pointer"></i>
        </div>

        <div class="row text-center mb-3 purple-color ">
            <i class="bi bi-joystick fw-bold heading-size">
                Thêm điểm đặt
            </i>
        </div>

        <div class="row mb-2 white-bg rounded-1 p-2 mx-2">
            <div class="row mb-2">
                <label for="txtNameCompany" class="form-label fw-semibold">Địa chỉ</label>
                <input type="text" class="form-control form-control-sm" 
                    id="txtNameCompany" name="nameCompany" disabled value="235 Nguyễn Văn Cừ, phường 4, quận 5, TP HCM">
            </div>

            <div class="row mb-2">
                <label class="form-label fw-semibold">Loại vị trí </label>
                <select id="typeBillboard" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Phân loại điểm đặt</option>
                    <option value="1">Đất công/Công viên/Hành lang an toàn giao thông</option>
                    <option value="2">Đất tư nhân/Nhà ở riêng lẻ</option>
                    <option value="3">Trung tâm thương mại</option>
                    <option value="4">Chợ</option>
                    <option value="5">Cây xăng</option>
                    <option value="6">Nhà chờ xe buýt</option>
                </select>
            </div>

            <div class="row mb-2">
                <label class="form-label fw-semibold">Hình thức</label>
                <select id="typeAds" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Hình thức quảng cáo</option>
                    <option value="1">Cổ động chính trị</option>
                    <option value="2">Quảng cáo thương mại</option>
                    <option value="3">Xã hội hoá</option>
                </select>
            </div>

            <div class="row mb-2">
                <label for="txtNameCompany" class="form-label fw-semibold">Tình trạng quy hoạch</label>
                <input type="text" class="form-control form-control-sm" 
                    id="txtNameCompany" name="nameCompany" disabled value="Chưa quy hoạch">
            </div>

            <div class="row mb-2 form-group">
                <label for="fuMain" class="mb-2 fw-semibold">Hình ảnh</label>
                <input type="file" multiple id="fuMain" name="fuMain">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" class="btn purple-btn box-shadow">Hoàn thành</button>
            </div>
        </div>
    </form>
</div>