.custom-form-location{
    border-radius: 5px;
    background: var(--form-edit-bg);
}

.custom-form-qc{
    border-radius: 5px;
    background: var(--form-edit-qc);
}

.custom-form-license{
    width: 75vw;
    border-radius: 5px;
    background-color: #EFFFF1;
}

.box-shadow{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.white-color{
    color: #ffff;
}

.green-color{
    color: var(--green-color);
}

.info-color{
    color: var(--info);
}

.heading-size{
    font-size: 24px;
}

.btn-submit{
    color:var(--black-color);
    background-color: #ffff;
}

.btn-submit:hover{
    opacity: 90%;
}

.form-width{
    width: 55vw;
}

.form-createAcc-width{
    width: 60vw;
}


.grey-bg{
    background-color: #F2FFF4;
}

.custom-btn-license{
    width: 30vw;
}

.white-bg{
    background-color: #ffff;
}



/* Report */
.report-form-container {
    width: 685px;
    height: 550px;
    padding: 0px 10px 20px 10px;
    font-family: Inter;
    border-radius: 10px;
    border: 1px solid #ededed;
    background: #fff7ed;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    /* z-index: 5; */
}
.report-form-title {
    margin: 10px 0px 5px 0px;
    text-align: center;
    font-weight: 600;
    color: #e80000;
}
.report-status {
    margin: 0px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
}
.report-info {
    width: 100%;
    margin: 7.5px 0px;
    padding: 5px;
    background-color: #ffffffcc;
}
.report-info input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
}
.report-info select {
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #d9d9d9;
    cursor: pointer;
}
.report-info textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
}
.report-image-upload {
    width: 100%;
    margin: 7.5px 0px;
    padding: 5px;
    background-color: #ffffffcc;
}
.report-image-upload input {
    width: 100%;
    margin: 2.5px 0px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background: #fff0ca;
    cursor: pointer;
}
.report-required {
    color: red;
}
.report-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.report-submit-button input {
    padding: 10px 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #fb9090;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.report-close-btn{
    padding-top: 10px;
}
.half {
    width: 50%;
}
.column-split {
    border-right: 20px solid #fff7ed;
}

/* @media screen and (max-width: 768px) {
    .report-form-container {
        width: 453px;
        height: auto;
        overflow-y: visible;
    }
} */

/* .hide {
    display: none;
}

.show {
    display: flex !important;
    animation: show_slide 1s ease forwards;
} */

/* @keyframes show_slide {
    0% {
        transform: translateY(100%);
    }
    40% {
        transform: translateY(-10%);
    }
    80% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10px);
    }
}
show-report {
    display: block;
    opacity: 0.2;
    background-color: red;
} */
/* .report-component {
    position: fixed;
    z-index: 199;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
} */

/* .btn-close-report-form {
    position: absolute;
    right: 20px;
    top: 10px;
} */
.btn-x{
    border: none;
}
.btn-x:hover{
    opacity: 80%;
}