:root {
    --shadow: rgba(0, 0, 0, 0.25);

    --navbar-text: #002653;
    --navbar-selected-text: #FFF;
    --navbar-selected: #0053B4;
    --navbar-hover-and-header: #005BC6;

    --white-color: #fff;
    --text-color: #121212;
    --red-color: #bc5b5b;
    --info-color: #005bc6;
    --QC-Chua_quy_hoach: #87a1fd;
    --QC-Đa_quy_hoach: #2f8fff;
    --QC-Nhieu_QCs: #44e9ff;
    --BC-Đang_xử_lý: #ff9162;
    --BC-Đa_xử_lý: #8c8c8c;
    --BC-Nhieu_BCs: #ff7272;
    --report-color: #d70000;

    --noti-green-bg: #EFFFF1;
    --noti-green-border: #009D19;
    --noti-yellow-bg: #FFFBEF;
    --noti-yellow-border: #FFA800;
    --noti-blue-bg: #F5F5F5;
    --noti-blue-border: #005BC6;
    --noti-red-bg: #FFE7E7;
    --noti-red-border: #D70000;
    --noti-warning: #FF9162;
    --noti-yes-button: #FFC700;
    --noti-no-button: #FF7272;
    --noti-text-light: #E6EFF9;
    --noti-text-dark: #002653;

    --table-blue-button-bg: #DDEDFF;
    --table-blue-button: #005BC6;
    --table-green-button: #009D19;
    --table-green-bg: #EFFFF1;
    --table-orange-tag-bg: #FFF6F2;
    --table-orange-tag-text: #FF9162;
    --table-disabled-bg: #E8E8E8;
    --table-disabled-button: #8C8C8C;
    --table-delete-button: #6B6B6B;
    --table-disabled-tag: #D6D6D6;
}

/* Navbar */
.navbar{
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}
.navbar a{
    margin: 0px 7.5px;
    color: var(--navbar-text);
}
.navbar a i {
    margin-right: 7.5px;
    font-size: 30px;
    color: var(--navbar-hover-and-header);
}
.navbar-nav > .nav-item > .selected{
    border-radius: 10px;
    opacity: 0.7;
    color: var(--navbar-selected-text);
    background: var(--navbar-selected);
    box-shadow: 0px 4px 4px 0px rgba(51, 124, 209, 0.25);
}
.navbar .nav-profile{
    margin: 0;
    padding: 0;
}
.navbar .nav-login{
    padding: 5px;
}
.navbar .nav-menu:hover{
    padding-bottom: 3px;
    color: var(--navbar-hover-and-header);
    border-bottom: solid 2px var(--navbar-hover-and-header);
    text-shadow: 2px 2px rgba(51, 124, 209, 0.25);
}
.navbar .nav-profile:hover{
    color: var(--navbar-hover-and-header);
    text-shadow: 2px 2px rgba(51, 124, 209, 0.25);
}
.navbar-nav > .nav-item > .selected:hover{
    padding-bottom: 7.5px;
    color: var(--navbar-selected-text);
    border: none;
}

/* Map layout*/
.layout-container,
.header-footer {
    padding-left: 0px;
    height: 100vh;
    width: 100vw;
}

.header,
.footer {
    /* height: 10%; */
    z-index: 2;
}

.header {
    width: 0;
    height: 0;
}

/* Header */
.searchBar {
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

.searchBar:hover {
    border: 1px solid lightgrey;
}

.searchBar .bi-search {
    font-size: 20px;
}

.searchBar input {
    border: none;
    width: 90%;
}

.searchBar input:focus {
    outline: none;
}

.searchBtn {
    padding-right: 5px;
}

.mapBtns {
    border-radius: 10px;
}

.mapBtns .geology {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.mapBtns .geology:hover {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer {
    background: rgba(255, 255, 255, 0.7);
    padding: 0px 20px;
    margin-bottom: 20px;
}
.footer i {
    color: #bc5b5b;
}

#showQC,
#showBC {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
    border-radius: 10px;
}

#showQC:hover,
#showBC:hover {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.bi-eye,
.bi-eye-slash {
    color: var(--red-color);
}

/* Modal */
.modal {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0px;
    left: inherit;
    width: 30vw;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}
.modal-content {
    width: 100%;
    background: transparent;
    border: none;
    gap: 10px;
    margin: 0;
}

.closeBtn {
    align-self: flex-end;
    position: relative;
    left: 0px;
    height: 25px;
    width: 25px;
}
/* .modal button {
    padding: 0px;
    width: 100%;
} */

/* Component QC */
.component-QC,
.component-moreInfoQC,
.component-location-qc,
.component-location-info,
.component-report-sm {
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #f9fdff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.component-report-sm {
    background: #fff7ed;
    z-index: 5;
}

.qc-title {
    color: var(--info-color);
    font-weight: 600;
}

.qc-adr {
    color: #8c8c8c;
}

.bi-info-circle-fill {
    font-size: 27px;
    color: var(--info-color);
}

.btn-report {
    color: var(--report-color);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 14px;
}

.bi-exclamation-octagon-fill {
    font-size: 23px;
}

/* Component location */
.loc-qc-content,
.loc-location-content {
    flex-direction: column;
}

.loc-qc-content .title,
.bi-info-circle {
    color: var(--info-color);
}

.loc-location-content .title,
.bi-check2-circle {
    color: green;
}

.component-location-qc {
    background: #ceeaff;
    flex-direction: row;
}

.component-location-info {
    background: #f5fff6;
    flex-direction: row;
}

.bi-info-circle,
.bi-check2-circle {
    font-size: 27px;
}

/* Notification */
.alert{
    color: #000000;
    display: inline-flex;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    animation: show_notification 0.5s ease forwards;
}
.alert a{
    color: var(--noti-text-light);
    width: 100px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.create-confirm{
    border: 1px solid var(--noti-green-border);
    background: var(--noti-green-bg);
}
.create-confirm a{
    background-color: var(--noti-green-border);
}
.create-confirm i{
    color: var(--noti-green-border);
}

.delete-confirm{
    border: 1px solid var(--noti-yellow-border);
    background: var(--noti-yellow-bg);
}
.delete-confirm .btn-yes{
    width: 75px;
    margin-right: 15px;
    color: var(--noti-text-dark);
    background-color:  var(--noti-yes-button);
}
.delete-confirm .btn-no{
    width: 75px;
    margin-left: 15px;
    color: var(--noti-text-dark);
    background-color: var(--noti-no-button);
}
.delete-confirm i{
    color:  var(--noti-warning);
}

.add-point-confirm{
    border: 1px solid var(--noti-green-border);
    background: var(--noti-green-bg);
}
.add-point-confirm .btn-yes{
    width: 75px;
    margin-right: 15px;
}
.add-point-confirm .btn-no{
    width: 75px;
    margin-left: 15px;
}
.add-point-confirm i{
    color:  var(--noti-green-border);
}

.update-confirm{
    border: 1px solid var(--noti-blue-border);
    background: var(--noti-blue-bg);
}
.update-confirm a{
    background-color: var(--noti-blue-border);
}
.update-confirm i{
    color: var(--noti-blue-border);
}

.error-noti{
    border: 1px solid var(--noti-red-border);
    background: var(--noti-red-bg);
}
.error-noti a{
    background-color: var(--noti-red-border);
}
.error-noti i{
    color: var(--noti-red-border);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.form-center{
    position: fixed;
    z-index: 5;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.80);
}
@keyframes show_notification {
    0% {
        transform: translate(-50%, -80%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

/* Tables */
.card-container{
    background-color: #FFFFFF;
    padding: 15px;
}
.card{
    border: none;
}
.card-header{
    background-color: #FFFFFF;
}
.card-header .blue-heading{
    color: var(--table-blue-button);
    margin: 0;
}
.card-header .green-heading{
    color: var(--table-green-button);
    margin: 5px 0 2px 0;
}
.card-header .blue-sort-btn{
    width: 120px;
    font-weight: 500;
    background-color: var(--table-blue-button-bg);
}
.card-info-row{
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
.card-footer{
    background-color: #FFFFFF;
}
.card-footer p{
    color: #000000;
    font-weight: 500;
}
.card-footer a{
    color: #000000;
    font-weight: 500;
}
.card-disabled{
    cursor: default;
    background-color: var(--table-disabled-bg);
}
.card-disabled:hover{
    background-color: var(--table-disabled-bg);
}
.card-disabled .btn{
    color: #FFFFFF;
    background-color: var(--table-disabled-button);
}
.card-disabled .btn:hover{
    cursor: default;
    color: #FFFFFF;
    background-color: var(--table-disabled-button);
    opacity: 100%;
}
.card-disabled .btn-readonly{
    color: var(--table-disabled-button);
    background-color: var(--table-disabled-tag);
}
.card-disabled .btn-readonly:hover{
    cursor: default;
    color: var(--table-disabled-button);
    background-color: var(--table-disabled-tag);
}
.card-disabled .btn-delete{
    color: var(--table-disabled-button);
}
.card-disabled .btn-delete:hover{
    cursor: default;
    color: var(--table-disabled-button);
}
.btn-table{
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 20px;
}
.btn-readonly{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;

    color: var(--table-orange-tag-text);
    font-weight: 500;
    background-color: var(--table-orange-tag-bg);
}
.btn-readonly:hover{
    color: var(--table-orange-tag-text);
    font-weight: 500;
    background-color: var(--table-orange-tag-bg);
}
.btn-list{
    width: 120px;
}
.btn-outline-blue{
    color: var(--table-blue-button);
    border: 1px solid var(--table-blue-button);
}
.btn-outline-blue:hover{
    color: #FFFFFF;
    background-color: var(--table-blue-button);
    opacity: 80%;
}
.btn-blue{
    background-color: var(--table-blue-button);
}
.btn-blue:hover{
    color: #FFFFFF;
    background-color: var(--table-blue-button);
    opacity: 80%;
}
.btn-green{
    background-color: var(--table-green-button);
}
.btn-green:hover{
    color: #FFFFFF;
    background-color: var(--table-green-button);
    opacity: 80%;
}
.btn-outline-green{
    color: var(--table-green-button);
    border: 1px solid var(--table-green-button);
}
.btn-outline-green:hover{
    color: #FFFFFF;
    background-color: var(--table-green-button);
    opacity: 80%;
}
.btn-license-green{
    color: var(--table-green-button);
    border: 1px solid var(--table-green-button);
}
.btn-license-green:hover{
    color: #FFFFFF;
    background-color: var(--table-green-button);
    opacity: 80%;
}
.btn-gray{
    color: var(--table-delete-button);
    border: 1px solid var(--table-delete-button);
}
.btn-gray:hover{
    color: #FFFFFF;
    background-color: var(--table-delete-button);
    opacity: 80%;
}
.btn-outline-success{
    font-weight: 500;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.btn-delete:hover{
    opacity: 80%;
}
.bg-green{
    background-color: var(--table-green-bg);
}
.row-active{
    background-color: var(--table-green-bg);
}
.green-hover:hover{
    background-color: var(--table-green-bg);
}
.btn-license{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;

    color: #FF7272;
    font-weight: 500;
    border: 1px solid #FFB5B5;
}
.btn-license:hover{
    color: #FF7272;
    font-weight: 500;
    border: 1px solid #FFB5B5;
}