* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    background: var(--white-color);
}

:root {
    --white-color: #fff;
    --text-color: #121212;
    --red-color: #bc5b5b;
    --info-color: #005bc6;

    --QC-Chua_quy_hoach: #87a1fd;
    --QC-Đa_quy_hoach: #2f8fff;
    --QC-Nhieu_QCs: #44e9ff;

    --BC-Đang_xử_lý: #ff9162;
    --BC-Đa_xử_lý: #8c8c8c;
    --BC-Nhieu_BCs: #ff7272;

    --report-color: #d70000;
}
